repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]
        require_serial: true

      - id: pyright
        name: pyright
        entry: cmd /c "pyright --verifytypes"
        language: system
        types: [python]
        args: ["--verifytypes"]
        require_serial: true

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: system
        types: [text]
        require_serial: true

      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        language: system
        files: \.(ya?ml)$

      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: system
