repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: system
      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        language: system
        files: \.(yaml|yml)$
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: system
